openapi: 3.0.0
servers:
  - url: https://crm-service.com:8800

info:
  description: Definitions of CRM service's APIs.
  version: 1.0.0
  title: CRM Service API
  contact:
    email: paul@creativemark.ro
tags:
  - name: CRM Service API
    description: Endpoints exposed to clients and services for CRM requests
paths:
  /v1/users:
    post:
      tags:
        - CRM Service API
      summary: Create a new user
      security:
        - ApiKeyAuth: []
      requestBody:
        description: The user to create
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserCreation"
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/users/:userId:
    get:
      tags:
        - CRM Service API
      summary: Fetch a single user
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: userId
          description: Id of the user to retrieve
          required: true
          schema:
            $ref: "#/components/schemas/Id"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      # eg: Authorization: API-KEY yourapikeyhere
  schemas:
    DateTime:
      type: string
      format: date-time
      example: "2018-07-15T19:45:00.000Z"
    Error:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          example: This is a totally helpful error message
    Id:
      type: number
      format: int64
      example: 37
    User:
      type: object
      required:
        - createdAt
        - id
      properties:
        createdAt:
          $ref: "#/components/schemas/DateTime"
        id:
          $ref: "#/components/schemas/Id"
        updatedAt:
          $ref: "#/components/schemas/DateTime"
    UserId:
      $ref: "#/components/schemas/UUID"
    UUID:
      type: string
      format: uuid
      example: 8916862a-1a9d-432e-9fc8-a9a8a40567a0
